<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Missing title</title>
    {% endif %}
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jjo/mycss.css')}}">
<body>
    
    <div class="grid">Welcome to the testbench</div>
    <div class="topnav">
        <a class="active" href="{{url_for('index')}} ">Home</a>
        <a href="{{url_for('listblob')}} ">View files</a> 
        <a href="{{url_for('blob')}} ">View blobs</a> 
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>  
    <div style="padding-left:16px"> 
        <h2>Blobs in table from the Blob Storage</h2> 
        <div class="container"> 
            {% for x in img_html %}
                <a target="_blank" href=" {{ x }}  ">
                <figure>    
                <img src=" {{ x[0] }}  " alt="Missing" width="150" height="150">
                <figcaption> {{ x[1] }}  </figcaption>
                </a>
                </figure>
            {% endfor %}
        </div>
    </div>
</body>
</html>
