<!DOCTYPE html>
<html>
<head></head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jjo/cardHover.css')}}">
<body>
    <div class="container">

	<figure class="card card--1" style="--image-src: url('static\images\azure-icon.svg')">
		<figcaption>
			<span class="info">
				<h3>The Hills</h3>
				<span>by David Marcu</span>
			</span>
			<span class="links">
				<a href="#"><i class="fas fa-heart"></i></a>
				<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="static\images\azure-icon.svg" target="_blank"><i class="fas fa-share"></i></a>
			</span>
		</figcaption>
	</figure>
    </div>
    </body>
</html>